.checkout__basketItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  /* border-bottom: 1px solid lightgray; */
}

.checkout__basketItem > img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: #111;
}

.checkoutProduct__price {
  margin-top: 5px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
  color: #f3ae00;
}

.product__title {
  font-size: 17px;
  font-weight: 700;
  color: #0066c0;
}
