.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky; /*positioned based on users scroll position. Will have position relative
 until a given offset position is met in the viewport - then it "sticks" in place */
  top: 0; /*For positioned elements*/
  z-index: 100; /*specifies stack order of an element. Greater stack order is in front
  of element with lower stack order. WORKS ON POSITIONED ELEMENTS*/
}
.header__logo {
  width: 100px;
  object-fit: contain; /*content is scaled to maintain aspect raio
    while filling elements content box */
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1; /*fills entire flex area to the max */
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9842;
}

.header__nav {
  display: flex;
  justify-content: space-evenly; /*distributes evenly*/
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineone {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__basket {
  color: white;
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
