.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__image {
  width: 100%; /*makes image fit within the screen width! */
  z-index: -1;
  margin-bottom: -150px; /*allows elements to creep over the 
  image up to 150px into it from the bottom*/
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
